body {
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.link-list {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    justify-content: space-between;
    gap: 12px;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.image-box {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #545558;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sign-up {
    display: flex;
    height: 20px;
    width: 70px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 10px;
}